body {
    margin-top: 20px;
}
.circle {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    background: green;
    display: inline-block;
    position: absolute;
    left: .2em;
    min-width: 5em;
    animation: moving 6s infinite;
}

@keyframes moving {
    50% {
        left: 100%;
        margin-left: -6.4em;
    }
}


.circle:hover {
    transition: 2s;
    background: red;
}
