.textIntoSize {
    display: flex;
}


#typeface {
    color: rgb(196,197,199);
    background: rgb(48,58,67);
}


input[type=radio] {
    padding: 0.5em;
    -webkit-appearance: none;
    outline: 0.1em solid white;
    outline-offset: 0.1em;
    background: rgb(48,58,67);
}

input[type=radio]:checked {
    display: inline-block;
    background-color: rgb(55,181,159);
}


.mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;"
}

.mainWindow {
    display: flex;
    width: 80vw;
    padding: 25px 10px;
    background-color: rgb(61,71,82);
}

.leftSettingsWindow {
    width: 100%;
    background-color: rgb(70,82,95);
    color: rgb(196,197,199);
    border: 1px solid rgb(90,96,103);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.typefaceDarkUI {
    display: flex;
    justify-content: space-around;
}

.typeFace {
    width: 300px;
    height: 100px;
}

.darkUI {
    display: flex;
    justify-content: space-between;
    width: 300px
}

.weightColor {
    display: flex;
    justify-content: space-around;
}


.weight {
    width: 300px
}

.color {
    width: 300px
}

.sizeEmpty {
    display: flex;
    justify-content: space-around
}


.size {
    width: 300px
}

.empty {
    width: 300px
}

.rightMenuEmpty {
    width: 50px;
    height: 50px;
}
.lastMenuEmpty {
    width: 50px;
    height: 50px;
}

.firstItemRightMenu {
    width: 50px;
    height: 50px;
    background-color: rgb(48,58,67);
    border-top-right-radius: 25px;
}

.secondItemRightMenu {
    width: 50px;
    height: 50px;
    background-color: rgb(48,58,67);
}

.thirdItemRightMenu {
    width: 50px;
    height: 50px;
    background-color: rgb(48,58,67);
}

.lastItemRightMenu {
    width: 50px;
    height: 50px;
    background-color: rgb(48,58,67);
    border-bottom-right-radius: 25px;
}

img {
    /*width: 40px;*/
    height: auto;
}



/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(48,58,67);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(55,188,164);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: rgb(33,150,243);
}

input:focus + .slider {
    box-shadow: 0 0 1px rgb(55,188,164);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.colorItem {
    display: flex;
    position: relative;
}

input[type="range"] {
    -webkit-appearance: none;
    margin-right: 15px;
    width: 150px;
    height: 2px;
    background: rgb(56,67,78);
    border-radius: 5px;
    background-size: 70% 100%;
    background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: rgb(55, 188, 164);
}

input[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}