* {
    margin: 0;
}

html, body {
    font-size: 18px;
    font-family: sans-serif;
    color: #222;
    background-color: aliceblue;
}

header {
    background-color: #222222;
    color: white;
}

.navbarMenu {
    display: flex;
    justify-content: space-between;
    height: 60px;
    margin-left: 40px;
    margin-right: 40px;
}

label {
    margin-left: 40px;
}

.leftMenu {
    display: flex;
    align-items: center;
}

.rightMenu {
    display: flex;
    align-items: center;
}

.site-title {
    margin-right: 40px;
}

.rightMenu a {
    color: white;
    text-decoration: none;
    margin-right: 40px;
}

.mainContent {
    margin-left: 8%;
    margin-right: 8%;
}

.mainContent a {
    text-decoration: none;
    color: black;
}

.firstRow {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

.secondRow {
    display: flex;
    justify-content: space-evenly;
}

.mediaMenuRight .goodsWindow {
    margin-right: 20px;
    margin-bottom: 5px;
    border-radius: 25px;
    width: 300px;
    height: 258px;
    border: 1px solid;
}

.mediaMenuRight .goodsWindow img {
    position: relative;
    margin-top: 45px;
    margin-left: 25%;
}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.container {
    width: 880px;
    height: 556px;
    border: 1px solid black;
    border-radius: 25px;
    margin-bottom: 10px;
}

.swiperContainer .container img {
    /*margin-top: 40px;*/
    width: 878px;
    height: 554px;
    border-radius: 25px;
}

.iphone13 h3 {
    margin-bottom: 13px;
}

/* ANIMATION */
/* Slideshow */
/* !!!!!!!!!!!!!!!!!!!!*/


* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlidesFade {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.mainMenu {
    height: 100vh;
}

.catalogSection {
    background-color: black;
    height: 100vh;
}

.howToBuySection {
    background-color: yellow;
    height: 100vh;
}

.aboutSection {
    background-color: green;
    height: 100vh;
}

.contactsSection {
    background-color: purple;
    height: 100vh;
}

iframe {
    width: 600px;
    height: 450px;
    border: 0;
}