* {
    margin: 0;
}

html, body {
    font-size: 18px;
    font-family: sans-serif;
    color: #222;
}

header {
    background-color: #222222;
    color: white;
}

.navbarMenu {
    display: flex;
    justify-content: space-between;
    height: 60px;
    margin-left: 40px;
    margin-right: 40px;
}

label {
    margin-left: 40px;
}

.leftMenu {
    display: flex;
    align-items: center;
}

.rightMenu {
    display: flex;
    align-items: center;
}

.site-title {
    margin-right: 40px;
}

.rightMenu a {
    color: white;
    text-decoration: none;
    margin-right: 40px;
}

.mainContent {
    margin-left: 8%;
    margin-right: 8%;
}

.mainContent a {
    text-decoration: none;
    color: black;
}

.firstRow {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

.secondRow {
    display: flex;
    justify-content: space-evenly;
}

.mediaMenuRight .goodsWindow {
    margin-right: 20px;
    margin-bottom: 5px;
    border-radius: 25px;
    width: 300px;
    height: 258px;
    border: 1px solid;
}

.mediaMenuRight .goodsWindow img {
  position: relative;
    margin-top: 45px;
    margin-left: 25%;
}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.container {
    width: 914px;
    height: 558px;
    border: 1px solid black;
    border-radius: 25px;
    margin-bottom: 10px;
}

.swiperContainer .container img {
    width: 914px;
    height: 546px;
    border-radius: 25px;
}

.iphone13 h3 {
    margin-bottom: 10px;
}

.newGoods h3 {
    margin-top: 5px;
}